---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.page-header {
  background-color: #197AF4;
  background-image: none;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding: 6rem 0 6rem 0;
  margin: 0 auto;
}

.page-header-content {
  max-width: 1300px;
  padding: 0;
  margin: 0 auto;
  padding-right: 6rem;
  padding-left: 6rem;
}

.btn-main {
  font-family: "Poppins", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-color: #fff !important;
  border-width: 1px !important;
}

.btn-home {
    background-color: rgba(255, 255, 255, 0.0) !important;
    color: #fff !important;
    border-color: #fff !important;
    border-width: 1px !important;
    transition: background-color 0.2s !important;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  text-align: right;
  width: 100%;
  font-size: 1.8rem !important;
  margin-left: 0 !important;
  font-family: "Poppins", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.item-text {
  font-size: 28.8px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.item-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 0.55rem;
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  .page-header-content {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  .page-header-content {
      padding-right: 4rem;
      padding-left: 4rem;
    }

  .btn {
    display: inline-block;
    width: unset;
  }
  
  .cards {
    flex-direction: column;
  }
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  font-family: "Poppins", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card-img {
    font-size: 7rem !important;
    margin: 0 auto;
    padding-top: 20px;
}

.main-content {
  max-width: 1300px !important;
}

.btn {
    color: rgba(25,122,244,1.0);
    background-color: rgba(255,255,255,1.0);
    border-width: 0px;
    border-radius: 0px;
    transition: box-shadow 0.2s;
}

a.btn::before {
  display: none !important;
}

.btn:focus, .btn:active, .btn:hover {
  background-color: #FFF;
  color: rgba(25,122,244,1.0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-home:focus, .btn-home:active, .btn-home:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #FFF !important;
  box-shadow: none !important;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #197AF4;
}

a {
  color: #197AF4;
  position: relative;
  text-decoration: none !important;
}

a::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #197AF4;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.project-name {
  font-family: "Poppins", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-header {
  text-align: left;
}

.project-tagline {
  opacity: 1
}

body {
  background-color: #f7f8f9 !important;
  color: #575c61;
}

.site-footer {
  border-top: solid 1px #d5d5d5;
}
