---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.page-header {
  background-color: #197AF4;
  background-image: none;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  .page-header {
    padding: 6rem 4rem;
  }
}

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  .page-header {
    padding: 6rem 4rem;
  }

  .btn {
    display: inline-block;
    width: unset;
  }
}

.main-content {
  max-width: unset !important;
}

.btn {
    color: rgba(25,122,244,1.0);
    background-color: rgba(255,255,255,1.0);
    border-width: 0px;
    border-radius: 0px;
    transition: background-color 0.2s;
}

.btn:focus, .btn:active, .btn:hover {
  background-color: #FFF;
  color: rgba(25,122,244,1.0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #197AF4;
}

a {
  color: #197AF4;
}

.project-name {
  font-family: "Poppins", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-header {
  text-align: left;
}

.project-tagline {
  opacity: 1
}

body {
  background-color: #f7f8f9 !important;
  color: #575c61;
}

.site-footer {
  border-top: solid 1px #d5d5d5;
}
