<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#197AF4">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="https://bbk12e1-cdn.myschoolcdn.com/ftpimages/849/site/986/favicon/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <div class="page-header page-header-content">
          <h1 class="project-name">Hawks Robotics Documentation</h1>
          <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
          {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="btn btn-main gh-btn">View on GitHub</a>
          <a href="https://xaverianteamrobotics.github.io/FtcRobotController/" class="btn btn-main btn-home" style="display: none;" id="homeButton">Go Home</a>
          {% endif %}
      </div>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">Hawks Robotics: The Ryken Force</a> is an FTC team managed by <a href="https://xbhs.com">Xaverian Brothers High School</a>.</span>
        <span class="site-footer-credits">This site was built by <a href="https://thomasricci.dev">Thomas Ricci</a> and <a href="https://github.com/michaell4438">Michael Lachut</a>.</span>
      </footer>
    </main>
    <script>
      let url = document.location.hostname;
      let path = document.location.pathname;
      if(url.endsWith("/") {
        url = url.substring(0, url.length - 1);
      }
      if(path.endsWith("/")) {
        path = path.substring(0, path.length - 1);
      }
      if(path.startsWith("/")) {
        path = path.substring(1);
      }
      if(url !== "robotics.xbhs.net" || url + "/" + path + "/" !== "https://xaverianteamrobotics.github.io/FtcRobotController/") {
        document.getElementById("homeButton").style["display"] = "inline-block";
      }
    </script>
  </body>
</html>
